.banner .container {
  display: flex;
  align-items: center;
}

.banner-wrapper {
  margin-top: 200px;
  font-family: Quicksand;
  color: rgb(255, 255, 255);
  width: 1200px;
  border-radius: 20px;
  background-color: green;
  background: linear-gradient(10deg, rgb(22, 152, 88), rgb(4, 106, 56));
  display: flex;
  justify-content: center;
  padding: 0 80px;
}

.banner-infor {
  padding-top: 80px;
}

.banner-heading {
  font-weight: 500;
  font-size: 64px;
  padding-bottom: 20px;
  line-height: 70px;
  padding-right: 29%;
}


.banner-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  padding-bottom: 35px;
  padding-right: 12%;
}

.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
}

.banner-grid__item {
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-bottom: 16px;
}

.banner-grid__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.banner-grid__checkmark::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  left: 11px;
  top: 6px;
}

.banner-link + .banner-link {
  margin-left: 12px;
}

.banner-img {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.banner-img img {
  border-radius: 51px 51px 0 0;
}