.contact .container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.contact-wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 40px 40px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  font-family: Quicksand;
}

.contact-form {
  width: 60%;
}

.contact-heading {
  font-weight: 700;
  font-size: calc(var(--heading-font-size) - 14px);
  line-height: 45px;
  color: rgb(4, 106, 56);
  padding-bottom: 9px;
}

.contact-title {
  font-weight: 400;
  font-size: calc(var(--title-font-size) - 3px);
  padding-bottom: 35%;
}

.contact-details {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}

.contact-details__text {
  font-weight: 400;
  font-size: calc(var(--text-font-size) + 3px);
  line-height: 25px;
  margin-left: 24px;
}



.contact-form__group1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 35px;
  margin-bottom: 35px;
}

.contact-form__label {
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: 20px;
  color: rgb(4, 106, 56);
}

.contact-form__label.special {
  font-weight: 600;
}

.contact-form__input {
  width: 100%;
  padding: 20px 0px 10px 3px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-weight: 500;
  font-size: calc(var(--text-font-size) - 3px);
}

.contact-form__group2 {
  display: flex;
  margin-top: 35px;
}

.contact-form__option {
  width: 30%;
  display: flex;
  align-items: center;
}

.contact-form__checkbox {
  position: relative;
  opacity: 0;
  margin-left: 15px;
}

.contact-form__checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.contact-form__checkbox:checked ~ .contact-form__checkmark {
  background-color: black;
}

.contact-form__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.contact-form__checkbox:checked ~ .contact-form__checkmark::after {
  display: inline;
}

.contact-form__group3 {
  margin-top: 5%;
}

.btnSend {
  float: right;
  padding: 15px 48px;
  font-weight: 500;
  font-size: var(--title-font-size);
  color: rgb(255, 256, 255);
  border: none;
  border-radius: 5px;
  background-color: rgb(4, 106, 56);
  cursor: pointer;
  transition: all 0.15s;
  margin-top: 50px;
  margin-right: 40px;
}

.btnSend:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 63.9375em) {
  .contact-wrapper {
    flex-direction: column;
    width: 90%;
  }

  .contact-infor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
  }
  .contact-form {
    width: 100%;
  }

  .contact-form__option {
    width: 50%;
  }
}

@media only screen and (max-width: 46.1875em) {
  .contact-infor {
    display: inline-block;
  }
  .contact-title {
    padding-bottom: 10px;
  }

  .contact-form__group1 {
    grid-template-columns: 1fr;
  }

  .contact-form__group2 {
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
  }

  .contact-form__option {
    width: 100%;
  }

  .contact-form__group3 {
    padding: 20px 0 0;
  }

  .btnSend {
    margin: 0;
    float: left;
    position: relative;
    left: 50%;
    translate: -50% 35%;
  }
}
