.footer .container-xl {
  font-family: Quicksand;
  margin-top: 200px;
  max-width: 1100px;
  width: 100%;
  padding: 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 50px;
  margin-bottom: 80px;
}

.footer-title {
  font-weight: 600;
  font-size: calc(var(--title-font-size) + 4px);
  line-height: 30px;
  color: rgb(4, 106, 56);
  padding-bottom: 30px;
}

.footer-text {
  font-weight: 400;
  font-size: var(--text-font-size);
  padding-bottom: 21px;
  color: rgb(36, 39, 45);
}

.footer-copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright__text {
  font-weight: 500;
  font-size: calc(var(--text-font-size) - 1px);
  line-height: 20px;
  color: rgb(37, 61, 78);
}
.footer-line {
  margin: 100px 0;
  width: 92%;
  border-top: 1px solid rgb(214, 218, 224);
}

@media only screen and (max-width: 46em) {
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    width: 100%;
    margin-bottom: 5px;
  }
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-copyright {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .footer-line {
    margin: 30px 0;
  }
}

@media only screen and (max-width: 35em) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
}

