* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --heading-font-size: 50px;
  --title-font-size: 20px;
  --text-font-size: 17px;
}

body {
  scroll-behavior: smooth;
}

section {
  padding-top: 70px;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.home {
  overflow: hidden;
}

/* Mobie */
@media only screen and (max-width: 46.1875em) {
  :root {
    --heading-font-size: 32px;
    --title-font-size: 15px;
    --text-font-size: 13px;
  }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  :root {
    --heading-font-size: 37px;
    --title-font-size: 17px;
    --text-font-size: 15px;
  }
}
