.intro {
  height: max-content;
}

.intro .container {
  max-width: 1300px;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Quicksand;
}

.intro-heading {
  font-weight: 700;
  font-size: var(--heading-font-size);
  text-align: center;
  color: rgb(4, 106, 56);
  margin-bottom: 2.2em;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.intro-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro-item {
  position: relative;
  width: 129px;
  height: 129px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 12px 32px 0 rgba(169, 169, 173, 0.16);
  margin-bottom: 40px;
}

.intro-col + .intro-col::after {
  content: "";
  position: absolute;
  width: 35%;
  border-top: 2px dashed rgb(112, 112, 112);
  height: 80px;
  transform: translate(-150%, 84%);
}

.intro-col .intro-item.special {
  background-color: rgb(4, 106, 56);
  box-shadow: 0 16px 32px 0 rgba(32, 191, 182, 0.3);
}

.intro-ellipse {
  position: absolute;
  left: 50px;
  top: 80px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: rgba(4, 106, 56, 0.15);
  box-shadow: 0 0 40px 20px rgba(4, 106, 56, 0.2);
}

.into-item.special .intro-ellipse {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.3);
}

.intro-title {
  width: max-content;
  text-align: center;
  font-weight: 700;
  font-size: var(--title-font-size);
  color: rgb(4, 106, 56);
  margin-bottom: 15px;
}

.intro-para {
  max-width: 72%;
  font-weight: 400;
  font-size: var(--text-font-size);
  color: rgb(0, 0, 0);
  padding-left: 20px;
}

.intro-para li {
  list-style-type: disc;
}

@media only screen and (max-width: 73em) {
  .intro-content {
    display: inline-block;
  }

  .intro-title {
    margin: 0;
  }
  
  .intro-col {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    place-items: center;
    position: relative;
    margin: 0 50px 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }

  .intro-col::after {
    display: none;
  }

  .intro-item {
    margin-bottom: 0;
  }

  .intro-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
  }
  .intro-para {
    max-width: 100%;
  }
}

@media only screen and (max-width: 50em) {
  .intro-para {
    width: 90%;
    padding: 20px;
    margin-top: 20px;
  }
  .intro-col {
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0 0 80px;
  }

  .intro-title {
    margin: 0;
    transform: translate(-50%, -100%);
  }

}

