.service .container {
  max-width: 1200px;
}

.service-wrapper {
  max-width: 1200px;
  font-family: Quicksand;  
  flex-direction: column;
  align-items: center;
}

.service-heading {
  font-weight: 700;
  font-size: var(--heading-font-size);
  line-height: 55px;
  text-align: center;
  color: rgb(4, 106, 56);
}

.service-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.service-item__img,
.service-item__comming {
  width: 214px;
  height: 214px;
  background-color: transparent;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__img--1 {
  background-color: rgb(232, 242, 238);
}
.service__img--2 {
  background-color: rgb(241, 223, 223);
}
.service__img--3 {
  background-color: rgb(223, 225, 241);
}
.service__img--4 {
  background-color: rgb(223, 235, 241);
}
.service-item__comming {
  background-color: rgb(248, 248, 248);
}

.service-item__title, .service-comming {
  font-weight: 500;
  font-size: var(--title-font-size);
  line-height: 24px;
  padding-top: 15px;
}

.service-comming {
  line-height: 26px;
  padding: 0;
  width: 62%;
}

@media only screen and (max-width: 63.9375em) {
  .service-list {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 46.1875em) {
  .service-item {
    margin-bottom: 40px;
  }
}