.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 112px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;
}
.header .content {
    width: 1100px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    width: 105px;
    align-items: center;
    padding: 8px 0px;
}

.right-section {
    display: flex;
    width: 670px;
    justify-content: space-between;
    align-items: center;
}

.left-section .text {
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 600;
    line-height: 24px;
    color: #046A38;
    z-index: 100;
    position: relative;
}

.nav-item, .btnSignUp {
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 600;
    color: rgba(19, 21, 23, 1);
    line-height: 24px;
    cursor: pointer;
    padding: 8px 0px;
    letter-spacing: 4%;
}

.btnSignUp {
    width: 147px;
    color: #FFFFFF;
    padding: 12px 40px;
    border-radius: 8px;
    background-color: #046A38;
    border: none;
    transition: all 0.2s;
}
.btnSignUp:hover {
    opacity: 0.8;
}

.header .ellipse {
    position: absolute;
    z-index: 100;
    top: -100px;
    left: -171px;
    width: 215px;
    height: 215px;
    border-radius: 50%;
    background-color: rgba(1, 70, 177, 0.9);
    opacity: 0.15;
    box-shadow: 0 0 200px 200px rgba(1, 70, 177, 0.9);
}