.infor-section {
    margin-top: 200px;
    font-family: Quicksand;
    color: rgb(255, 255, 255);
    width: 1200px;
    height: 610px;
    border-radius: 20px;
    background-color: green;
    background: linear-gradient(10deg, rgb(22, 152, 88), rgb(4, 106, 56));
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-infor-section {
    width: 50%;
    position: relative;
    left: 76px;
}
.left-side-infor-section .title {
    width: 66%;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -1px;
    padding-bottom: 20px;
    line-height: 70px;
}

.left-side-infor-section .describe {
    width: 86%;
    font-weight: 500;
    font-size: 17px; 
    line-height: 30px;
    padding-bottom: 35px;
}

.label-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.left-side-infor-section .label-item {
    font-weight: 500;
    font-size: 17px; 
    line-height: 27px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 16px;
}

.label-item .check-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.label-item .check-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    left: 11px;
    top: 6px;
}


.left-side-infor-section .download-infor {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.right-side-infor-section {
    width: 50%;
    position: relative;
}
.app2-img {
    position: absolute;
    border-radius: 51px 51px 0 0;
    top: -192px;
    left: 100px;
}