.intro-section {
    max-width: 100vw;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;   
}   

.left-side-intro-section {
    width: 50%;
    height: 100%;
}
.animation {
    max-width: 100%;
    height: 100%;
    position: relative;
    left: 30px;
}
.overlay {
    position: absolute;
    width: 563px;
    height: 640px;
    /* border: 1px solid red; */
    top: -220px;
    left: 1px;
    pointer-events: all;
}
.animation:hover .visa{
    transform: translate(54%, 8%) scale(0.8);
}
.animation:hover .one-app {
    transform: translate(-70%, 30%);
}
.animation:hover .sercure {
    transform: translate(-40%, 30%);
}
.animation:hover > .portal-1 {
    transform: translateX(30%) scale(1.2) rotate(0deg);
}   
.animation:hover > .portal-2 {
    transform: translate(30%, 20%) scale(1.2) rotate(-80deg);
}

.visa, .one-app, .sercure, .animation > .portal-1, .animation > .portal-2 {
    transition: all 1.5s;
}

.ip14 {
    max-width: 200%;
    height: 808px;
    display: block;
    position: absolute;
    top: -320px;
    left: -264px;
    z-index: 100;
    pointer-events: none;
}

.visa, .one-app {
    position: absolute;
    z-index: 200;
}

.visa {
    max-width: 36%;
    display: block;
    top: -124px;
    left: 290px;
}

.one-app {
    max-width: 26%;
    left: 94px;
    top: -75px;
}

.sercure {
    position: absolute;
    max-width: 23%;
    z-index: 50;
    top: 107px;
    left: 34px;
}

.animation .portal-1 {
    width: 8%;
    height: auto;
    position: absolute;
    z-index: 200;
    top: -180px;
    left: 430px;
    transform: rotate(-30deg);
}

.animation .portal-2 {
    width: 10%;
    height: auto;
    position: absolute;
    z-index: 200;
    top: 252px;
    left: 410px;
    transform: rotate(-45deg);
}

.right-intro-section {
    max-width: 50%;
    font-family: Quicksand;
    color: rgb(19, 21, 23);
    margin-left: 28px;
}

.right-intro-section .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.right-intro-section .sub-title{
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(36, 39, 45);
}

.right-intro-section .sub-title span {
    font-weight: 700;
}

.text-special-1st {
    color: rgba(255, 0 , 0, 1);
}
.text-special-2nd {
    color: rgba(4, 106, 56, 1);
}

.right-intro-section .text-download {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(36, 39, 45);
    margin-top: 118px;
}

.right-intro-section .download-infor {
    width: 334px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.intro-section .ellipse {
    position: relative;
    right: -600px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(1, 70, 177, 0.9);
    opacity: 0.15;
    box-shadow: 0 0 200px 200px rgba(1, 70, 177, 0.9);
    z-index: 200;
}