.project-milestones-section {
    margin-top: 100px;  
    height: 800px;
}
.project-milestones-section .content-section {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    left: -60px;
}

.project-milestones-section .section-heading {
    width: 100%;
    padding-right: 48px;
}

.line-ellipse-time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rectangle {
    width: 200%;
    position: relative;
    height: 8px;
    background: linear-gradient(to left, rgb(255, 69, 129), rgb(67, 136, 221));
    opacity: 0.1;
}
.bar-milestone .dashed-line {
    position: relative;
    top: 5px;
    width: 70px;
    border-top: 2px dashed rgb(255, 69, 129);
    z-index: 200;
}

.milestones {
    width: 1200px;
    position: relative;
    top: -12px;
    left: 30px;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.milestone {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -40px;
}
.milestone:nth-child(2) {
    left: -30px;
}

.milestone .ellipse-in {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(255, 69, 129);
    margin-top: 20px;
    position: relative;
}

.milestone:first-child .ellipse-in .ellipse-out {
    box-shadow: 0 0 8px 0.5px rgb(255, 69, 129);
}

.ellipse-out {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 69, 129, 0.1);
    position: relative;
    top: -8px;
    left: -8px;
}
.milestone .line {
    position: relative;
    top: -5px;
    height: 300px;
    border-left: 2px solid rgb(255, 69, 129);
    transform-origin: top center;
}

.milestone:nth-child(even) .line{
    transform: rotate(180deg);

}

.milestone .text {
    font-family: Assistant;
    font-weight: 600;
    font-size: 16px;
    height: 21px;
}

.milestone:nth-child(even) .text {
    transform: translateY(80px);
}

.section-top, .section-down {
    height: 260px;
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: Quicksand;
    left: 260px;
}
.section-top .content {
    width: 430px;
}
.section-top .content:nth-child(2) {
    width: 410px;
}

.section-top .content .text, .section-down .content .text{
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(to left, rgb(255, 69, 129), rgb(67, 136, 221));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 25px;
}
.section-top .content:nth-child(3) .text {
    background-size: 50% 100%;
}
.section-top .sub-text, .section-down .sub-text{
    width: 250px;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 40px;
}

.section-down {
    top: -270px;
    left: 80px;
}
.section-down .content {
    padding-right: 90px;
}

.section-down .sub-text {
    width: 280px;
}




