.project-milestones-section {
    margin-top: 100px;  
    width: 1400px;
    /* height: 800px; */
}

.project-milestones-section .section-heading {
    width: 100%;
    padding-right: 48px;
}

.timeline {
    max-width: 100%;
    display: grid;
    grid-template-rows: 0.9fr 8px 1fr;
    overflow-x: scroll;
    white-space: nowrap;
}

.timeline__bottom, .timeline__top {
    display: flex;
    margin-left: 100px;
}
.timeline__top {
    margin-left: 250px;
}

.timeline__component {
    position: relative;
    left: 7px;
}

.timeline__component--bg {
    font-family: Quicksand;
    padding: 50px 0px 0px 20px;
    border-left: 2px solid rgb(255, 69, 129);
}

.timeline__top .timeline__component--bg {
    padding-top: 0;
    padding-right: 20px;
}


.timeline__date {
    font-family: Assistant;
    font-weight: 600;
    font-size: 16px;
}

.timeline__date--top {
    position: absolute;
    top: -2.5em;
    left: -2em;
}

.timeline__date--bottom {
    position: absolute;
    top: 108%;
    left: -2em;

}
.timeline__middle {
    height: 8px;
    position: relative;
    background: linear-gradient(to left, rgb(255, 69, 129, 0.1), rgb(67, 136, 221, 0.1));
}
.timeline__middle .dashed__line {
    position: absolute;
    top: 4px;
    width: 100px;
    border-top: 2px dashed rgb(255, 69, 129);
    z-index: 100;
}


.timeline__point {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(255, 69, 129);
    left: -7px;
    top: -12px;
}

.timeline__top .timeline__point {
    top: 99%;
}

.timeline__point::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 69, 129, 0.1);
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.timeline__title{
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(to left, rgb(255, 69, 129), rgb(67, 136, 221));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.5em;
    padding-right: 40px;
}

.special .timeline__title {
    padding-right: 150px;
}

.timeline__paragraph {
    width: 80%;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 1.3em;
    text-wrap: wrap;
}